.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.hero__info-title{
    width: 15%;
    font-size: 40px;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #828282 ;
    margin-bottom: 20px;
}
.header__wrap-img{
    border-radius: 30px;
    padding-top: 30px;
}
.header__link{
    text-decoration: none;
color: #000000;
font-family: Gilroy-Bold;
font-size: 25px;
transition: all 0.5s;
font-weight: 600;
margin-bottom: 40px;
border-bottom: 3px solid transparent;

}
.header__link:hover{
    border-bottom: 3px solid black;
    
}
/* .hero__info-text{
   padding-left: 30px;
} */
.hero__text-p{
    width: 60%;
    font-family: Gilroy-Medium;
font-size: 18px;
font-weight: 550;



}
.hero__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}
/* .header__hr{
     height: 0.5px; 
     background-color:#828282;
    border: 10px; 
}  */

.hero__info-language{
    display: flex;
    align-items: center;
    width: 65px;
    transform: rotate(90deg);
    

}
.hero__lan-text{
    text-decoration: none;
    color: #828282;
    transition: all 1.5s;
}
.hero__lan-text:hover{
color: black;
}
.hero__wrap{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    
}
.header__wrap-logo{
    width: 200px;
}
.about__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #F6F6F6;
    padding-top: 45px;
    padding-bottom: 60px;

}
.about__wrap-text{
width: 70%; 

}
.about__wrap-title{
    font-family: Gilroy-Bold;
font-size: 34px;
font-weight: 700;

}
    .skills__wrap-title{
        font-family: Gilroy-Bold;
font-size: 34px;
padding-bottom: 30px;
padding-top: 30px;
font-weight: 600;


    }
    .skills__program-logo{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .skills__wrap-programs{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .skills__program{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
.skills__wrap{
    display: flex;
    flex-direction:column;
    align-items: center;

    padding-bottom: 60px;
    border-radius: 30px;

}
.skills__wrap-programs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    /* flex-wrap: wrap; */
}
.skills__program-title{
    padding-top: 20px;
    padding-bottom: 20px;
}
.about__info-logo{
    width: 300px;
}
.skills__wrap-text{
    padding-bottom: 40px;
    font-size: x-large;

}
.markets__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:  black; */
    padding-top: 40px;
    justify-content: space-between;

}
.markets__wrap-prices{
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    width: 100%;
}
.markets__prices-info-one{
    display: flex;  

    max-width: 650px;
    width: 100%;
}
.markets__product-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 400px;
    width: 100%;
}
.markets__product-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 23px;
        color: gray;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
.about__wrap-text{
    font-size: large;
    font-weight: 700;
}
.about__wrap-texts{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    flex-direction: column;

}
.about__logo-info{
    width: 310px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    width: 100%;
}
.about__info-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.markets__prices-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.markets__prices-bigprice ,
.markets__prices-smallprices{
font-size: 43px;
/* color: white; */
}
.markets__prices-bigprice{
    color: rgb(227, 0, 0);
}
.markets__wrap-title{
/* color: white; */
font-size: xxx-large;
font-weight: 600;
}
.markets__wrap-text{
    /* color: white; */
    font-size: 28px;
    font-weight: 600;
    padding-top: 25px;
}
.markets__wrap-pictures{
    width: 500px;
    padding-top: 15px;
}
.markets__info-text{
    font-size: 23px;
    font-weight: 600;
}
.markets__info-text-info{
    font-size: 23px;
    font-weight: 500;
}
.burger{
    width: 40px;
    transition: all 0.5s;
    rotate: 0deg;

}
.header__wrap-links{
    display: flex;
justify-content: space-evenly;
    align-items: center;
    max-width: 500px;
    width: 100%;
    position: fixed;

    left: -100%;
    transition: all 1s;
    flex-direction: column;
    width: 100%;
    max-height: 1440px;
    height: 100%;
 /* bottom: -200px; */
 top: 0%;
 margin-bottom: 150px;


 background: rgba( 255, 247, 247, 0.3 );
 box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 backdrop-filter: blur( 16.5px );
 -webkit-backdrop-filter: blur( 16.5px );
 border-radius: 10px;
 border: 1px solid rgba( 255, 255, 255, 0.18 );
/* padding-top: 400px; */
    
}
.window{
    left: 0;

}
.hero__info-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 760px;
    width: 100%;
}
.skills__box-img{
    width: 400px;
    border-radius: 30px;
}
.skills__box-p{
    width: 40%;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}
.skills__info-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid black;
   padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;

}
.skills__programs-info{
    margin-top: 50px;
}
.btn1{
    background-color:rgb(68, 28, 199);
    border-color: blue;
}
.btn2{
  background-color: rgb(249, 161, 249);
  border-color:mediumvioletred;
}
.btn3{
  background-color: rgb(196, 196, 196);
  border-color: darkgrey;


}
.about__logo-img{
    width: 150px;
}
.about__wrap-logos-box-one{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 700px;
    width: 100%;
}
.about__wrap-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    background-color: rgb(60, 60, 60);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    /* flex-wrap: wrap ; */
    flex-direction: column;

}
.about__wrap-logos-box{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
}
.about__wrap-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__logo-years{
    padding-top: 5px;
    color: white;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 50px;
}
.about__logo-img-one{
    width: 500px;
}
.two{
    height: 130px;  
    
}

@media(max-width:585px){
    .skills__wrap-programs{
        flex-direction: column;

        
    }
    .skills__program{
        margin-bottom: 20px;
    }
}

@media(max-width:416px){
 .hero__info-one{
        flex-direction: column;
        justify-content: space-between;
    }
    .hero__info-title{
        max-width: 130px;
        width: 100%;
        padding-bottom: 10px;
    }

}
@media(max-width:815px){

    .header__wrap-logo{
        width: 150px;
    }
}
@media(max-width:490px){
    .markets__wrap-pictures{
        width: 300px;
    }
}
@media(max-width:483px){
    .markets__wrap-text{
        font-size:23px ;
    }
}
@media(max-width:397px){
    .markets__wrap-text{
        font-size:20px ;
    }
}

@media(max-width:345px){
    .markets__wrap-text{
        font-size:18px ;
    }
}
@media (max-width:714px) {
    .skills__info-box{
        max-width: 620px;
        width: 100%;
    }
    .skills__box-img{
        width: 300px;
    }
}
@media (max-width:625px) {
    .skills__info-box{
        max-width: 520px;
        width: 100%;
    }
    .skills__box-img{
        width: 250px;
    }
}
@media (max-width:525px) {
    .skills__info-box{
        max-width: 480px;
        width: 100%;
        flex-direction: column;
    }
    .skills__box-img{
        width: 300px;
        /* margin-top: 10px;    */
    }
    .skills__box-p{
        width: 80%;
    }
}
@media (max-width:486px) {
    .skills__info-box{
        max-width: 400px;
        width: 100%;
       
    }
}
@media (max-width:408px) {
    .skills__info-box{
        max-width: 370px;
        width: 100%;
       
    }
    .skills__box-p{
        width: 90%;
    }
}
@media (max-width:378px) {
    .skills__info-box{
        max-width: 310px;
        width: 100%;
    }
    .skills__box-img{
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media (max-width:1105px) {
    .about__wrap-texts{
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .about__wrap-text{
        width: 100%;
    }
}
@media (max-width:612px) {
    .about__logo-info{
        flex-direction: column;
        margin-bottom: 7px;
    }
}
@media (max-width:540px) {
        .about__logo-img-one{
            width: 400px;
        }
        .about__wrap-logos-box{
            flex-direction: column;
        }
}
@media (max-width:475px) {
  
    .about__wrap-logos-box-one{
        flex-direction: column;
    }
}@media(max-width:420px){
    .about__logo-img-one{
        width: 300px;
    }
}
@media (max-width:342px) {
    .skills__wrap-text{
        font-size: large;
    }
    
}